section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-bottom: 200px;
    max-width: 1920px;
}

.headline {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    
    h1 {
        font-size: 96px;
        font-weight: 700;
        color: #FFFFFF;
        margin: 0;
        padding-right: 24px;
        width: 50%;
        display: flex;
        justify-content: flex-end;
    }

    .custom-line {
        height: 4px;
        background-color: #70E61C;
        border: none;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        width: calc(50% - 24px - 96px);
    }
}


.contact-container {
    display: flex;
    color: #FFFFFF;
    justify-content: space-between;
    gap: 160px;

    .contact-info {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        text-align: start;
        padding-left: 100px;
        max-width: 50%;

        h2{
            font-size: 32px;
            font-weight: 700;
            padding-bottom: 14px;
        }
    }

    .contact-form-container {
        max-width: 50%;
        padding-right: 100px;

        >form {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;

            a {
                color: #9747FF;
                text-decoration: none;
            }
        }

        mat-form-field {
            width: 100%;
            margin-bottom: 8px;
        }

        textarea {
            height: 200px;
        }

        mat-bottom-sheet-container {
            z-index: 10000 !important;
        }
    
        button {
            background-color: #70E61C;
            padding: 15px 30px 15px 30px;
            width: 253px;
            height: 58px;
            border-radius: 10px;
            margin-top: 32px;           

             &[disabled] {
            background-color: grey;
            color: white;
            cursor: not-allowed;
            }

          
           
        }
         
    }
}