section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-bottom: 200px;
  max-width: 1920px;
  padding-top: 100px;
}

.headline {
  display: flex;
  align-items: center;
  width: 100%;

  .custom-line-hidden {
    flex: 1; // Nimmt den Platz links ein
    visibility: hidden; // Macht die Linie unsichtbar
  }

  h1 {
    font-size: 96px;
    font-weight: 700;
    color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
    flex-shrink: 0; // Verhindert das Skalieren
  }

  .custom-line {
    height: 4px;
    background-color: #70e61c;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    flex: 1; // Nimmt den Platz rechts ein
    margin-left: 24px; // Abstand von 24px zur h1
  }
}

.contact-container {
  display: flex;
  color: #ffffff;
  justify-content: space-between;
  gap: 24px;

  .contact-info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: start;
    padding-left: 100px;
    max-width: 50%;

    h2 {
      font-size: 32px;
      font-weight: 700;
      padding-bottom: 14px;
    }
  }

  .contact-form-container {
    max-width: 50%;
    padding-right: 100px;

    > form {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;

      a {
        color: #9747ff;
        text-decoration: none;
      }
    }

    mat-form-field {
      width: 100%;
      margin-bottom: 8px;
    }

    textarea {
      height: 200px;
    }

    mat-bottom-sheet-container {
      z-index: 10000 !important;
    }

    button {
      background-color: #70e61c;
      padding: 15px 30px 15px 30px;
      width: 253px;
      height: 58px;
      border-radius: 10px;
      margin-top: 32px;

      &[disabled] {
        background-color: grey;
        color: white;
        cursor: not-allowed;
      }
    }
  }
}

.btn-up {
  position: absolute;
  bottom: 5vh;
  right: 5vw;
  transition: transform 125ms ease-in-out;
}

.btn-up:hover {
  transform: scale(1.2);
  cursor: pointer;
}

@media (max-width: 1100px) {
  .contact-container {
    padding-left: 50px;
    padding-right: 50px;
    flex-direction: column;
    align-items: center;

    .contact-info {
      padding: 0px;
      max-width: 586px;
      text-align: center;
      align-items: center;
    }

    .contact-form-container {
      padding-left: 20px;
      padding-right: 20px;
      max-width: 100%;

      > form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    }
  }

}

@media (max-width: 790px) {
  .headline {
    h1 {
      font-size: 50px;
    }
  }

  .contact-container {
    .contact-info {
      h2 {
        font-size: 24px;
      }
    }
  }
}

@media (max-width: 470px) {
  .headline {
    h1 {
      font-size: 32px;
    }
  }
  .contact-container {
    .contact-info {
      p {
        font-size: 14px;
      }

      h2 {
        font-size: 20px;
      }
    }
  }

  .btn-up {
    position: fixed;
    bottom: 5vh;
    right: 44%;
  }
}
