<section id="contact" class="background-color">
    <div class="headline">
        <div class="custom-line-hidden"></div> 
        <h1>Contact</h1>
        <hr class="custom-line">
    </div>
    <div class="contact-container">
        <div class="contact-info">
            <h2>Got a problem to solve?</h2>
            <p>Contact me through this form, I am interested in hearing from you, knowing your ideas and 
              contributing to your projects with my work.           
            </p><br>
            <p>Need a Frontend Developer? <b>Contact me!</b></p>
        </div>
    
        <div class="contact-form-container">
          <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
            
            <mat-form-field appearance="outline">
              <mat-label>Your name</mat-label>
              <input matInput [formControl]="name" placeholder="Enter your name" />
              <mat-error *ngIf="name.hasError('required')">Name is required</mat-error>
              <mat-error *ngIf="name.hasError('minlength')">Name must be at least 2 characters long</mat-error>
            </mat-form-field>
        
            
            <mat-form-field appearance="outline">
              <mat-label>Your email</mat-label>
              <input matInput [formControl]="email" placeholder="max.mustermann@example.com" />
              <mat-error *ngIf="email.hasError('required')">Email is required</mat-error>
              <mat-error *ngIf="email.hasError('email')">Not a valid email</mat-error>
            </mat-form-field>
        
           
            <mat-form-field appearance="outline">
              <mat-label>Your message</mat-label>
              <textarea matInput [formControl]="message" placeholder="Enter your message"></textarea>
              <mat-error *ngIf="message.hasError('required')">Message is required</mat-error>
              <mat-error *ngIf="message.hasError('minlength')">Message must be at least 5 characters long</mat-error>
            </mat-form-field>
        
            
            <mat-checkbox [(ngModel)]="contactData.privacy" name="privacy" required>
              I've read the <a href="#datenschutz">privacy policy</a> and agree to the processing of my data as outlined.
            </mat-checkbox>
            <mat-error *ngIf="checkboxErrorMessage">{{ checkboxErrorMessage }}</mat-error>
            
            
              <button mat-raised-button color="primary" 
                [disabled]="!name.valid || !email.valid || !message.valid || !contactData.privacy"
                (click)="checkPrivacyPolicy()">
                Send message 
              </button>
          </form>
        </div>
        
        
    </div>
    
    <a class="btn-up" href="#hero">
      <img src="assets/icons/go-up-button.png" alt="go_up_button">
    </a>
</section>
