<section id="contact" class="background-color">
  <div class="headline">
    <div class="custom-line-hidden"></div> 
    <h1>{{ 'CONTACT.TITLE' | translate }}</h1>
    <hr class="custom-line">
</div>
<div class="contact-container">
    <div class="contact-info">
        <h2>{{ 'CONTACT.HEADER.TITLE' | translate }}</h2>
        <p>{{ 'CONTACT.HEADER.DESCRIPTION' | translate }}</p><br>
        <p>{{ 'CONTACT.HEADER.CALL_TO_ACTION' | translate }} <b>{{ 'CONTACT.HEADER.CONTACT_ME' | translate }}</b></p>
    </div>

    <div class="contact-form-container">
      <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        
        <mat-form-field appearance="outline">
          <mat-label>{{ 'CONTACT.FORM.NAME.LABEL' | translate }}</mat-label>
          <input matInput [formControl]="name" [placeholder]="'CONTACT.FORM.NAME.PLACEHOLDER' | translate" />
          <mat-error *ngIf="name.hasError('required')">{{ 'CONTACT.FORM.NAME.ERRORS.REQUIRED' | translate }}</mat-error>
          <mat-error *ngIf="name.hasError('minlength')">{{ 'CONTACT.FORM.NAME.ERRORS.MIN_LENGTH' | translate }}</mat-error>
        </mat-form-field>
    
        <mat-form-field appearance="outline">
          <mat-label>{{ 'CONTACT.FORM.EMAIL.LABEL' | translate }}</mat-label>
          <input matInput [formControl]="email" [placeholder]="'CONTACT.FORM.EMAIL.PLACEHOLDER' | translate" />
          <mat-error *ngIf="email.hasError('required')">{{ 'CONTACT.FORM.EMAIL.ERRORS.REQUIRED' | translate }}</mat-error>
          <mat-error *ngIf="email.hasError('email')">{{ 'CONTACT.FORM.EMAIL.ERRORS.INVALID' | translate }}</mat-error>
        </mat-form-field>
    
        <mat-form-field appearance="outline">
          <mat-label>{{ 'CONTACT.FORM.MESSAGE.LABEL' | translate }}</mat-label>
          <textarea matInput [formControl]="message" [placeholder]="'CONTACT.FORM.MESSAGE.PLACEHOLDER' | translate"></textarea>
          <mat-error *ngIf="message.hasError('required')">{{ 'CONTACT.FORM.MESSAGE.ERRORS.REQUIRED' | translate }}</mat-error>
          <mat-error *ngIf="message.hasError('minlength')">{{ 'CONTACT.FORM.MESSAGE.ERRORS.MIN_LENGTH' | translate }}</mat-error>
        </mat-form-field>
    
        <mat-checkbox [(ngModel)]="contactData.privacy" name="privacy" required>
          {{ 'CONTACT.FORM.PRIVACY.TEXT' | translate }} <a routerLink="privacy-policy">{{ 'CONTACT.FORM.PRIVACY.POLICY_LINK' | translate }}</a> {{ 'CONTACT.FORM.PRIVACY.AGREEMENT' | translate }}
        </mat-checkbox>
        <mat-error *ngIf="checkboxErrorMessage">{{ checkboxErrorMessage }}</mat-error>
        
        <button mat-raised-button color="primary" 
          [disabled]="!name.valid || !email.valid || !message.valid || !contactData.privacy"
          (click)="checkPrivacyPolicy()">
          {{ 'CONTACT.FORM.SUBMIT' | translate }}
        </button>
      </form>
    </div>
</div>
    
    <a class="btn-up" href="#hero">
      <img src="assets/icons/go-up-button.png" alt="go_up_button">
    </a>
</section>
