section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    width: 100%;
    max-width: 1920px;
    padding: 37px 32px 37px 32px;
    z-index: 1000;
    border-top: 2px solid #70e61c;

    > div {
        color: #FFFFFF;
    }

    .legal-notice-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        > p {
            color: #FFFFFF;
            font-size: 36px;
        }

        > a {
            color: #FFFFFF;
            text-decoration: none;
        }
    }
}

.reference-btn-container {
    display: flex;
    align-items: center;
    gap: 48px;
    height: 64px;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 30px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: transform 125ms ease-in-out;

            &:hover {
                transform: scale(1.2);
                cursor: pointer;
            }
        }
    }

    > img {
        height: 30px;
        width: 30px;
        object-fit: cover;
        transition: transform 125ms ease-in-out;

        &:hover {
            transform: scale(1.2);
            cursor: pointer;
        }
    }
}
