<section class="background-color">
  <div class="footer-content">
      <div class="legal-notice-container">
          <p>Florian</p>
          <a class="impressum" routerLink="/imprint">{{ 'FOOTER.IMPRINT' | translate }}</a>
      </div>

      <div class="center-text">© Florian Eusterholz 2024</div>

      <div class="reference-btn-container">
        <a class="github-btn" 
            href="https://github.com/Eusti420" 
            target="_blank" 
            rel="noopener noreferrer">
            <img src="assets/icons/github-btn.png" alt="GitHub">
        </a>
        <a class="mail-btn" href="#contact">
            <img src="assets/icons/email-btn.png" alt="Email">
        </a>
        <a class="linkedIn-btn" 
            href="https://www.linkedin.com/in/florian-eusterholz-0a880b153/" 
            target="_blank" 
            rel="noopener noreferrer">
            <img src="assets/icons/linkedIn-btn.png" alt="LinkedIn">
        </a>
      </div>
  </div>
</section>

  