<section class="background-color">
    <div class="legal-notice-container">
      <p>Florian</p>
      <a routerLink="/imprint">{{ 'FOOTER.IMPRINT' | translate }}</a>
    </div>
  
    <div class="center-text">© Florian Eusterholz 2024</div>
  
    <div class="reference-btn-container">
      <a class="github-btn" href="https://github.com/Eusti420">
        <img src="assets/icons/github-btn.png" alt="GitHub">
      </a>
      <a class="mail-btn" href="#contact">
        <img src="assets/icons/email-btn.png" alt="Email">
      </a>
      <a class="linkedIn-btn" href="https://www.linkedin.com/in/florian-eusterholz-0a880b153/">
        <img src="assets/icons/linkedIn-btn.png" alt="LinkedIn">
      </a>
      
      <img *ngIf="currentLanguage === 'de'" src="assets/icons/de.png" alt="deutsch" (click)="switchLanguage('en')">
      <img *ngIf="currentLanguage === 'en'" src="assets/icons/en.png" alt="english" (click)="switchLanguage('de')">
    </div>
  </section>
  