section {
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1000;
    border-top: 2px solid #70e61c;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #141d2f;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    padding: 37px 100px;

    > div {
        color: white;
    }
}

.impressum {
    font-size: 16px;
    display: inline-block;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #70e61c;
        transition: width 0.6s ease;
    }

    &:hover::after {
        width: 15%;
    }
}

.legal-notice-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;

    > p {
        color: #FFFFFF;
        font-size: 36px;
    }

    > a {
        color: #FFFFFF;
        text-decoration: none;
    }
}

.center-text {
    margin: 0 auto;
    text-align: center;
    flex: 2;
}

.reference-btn-container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    gap: 48px;
    height: 64px;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 30px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: transform 125ms ease-in-out;

            &:hover {
                transform: scale(1.2);
                cursor: pointer;
            }
        }
    }

    > img {
        height: 30px;
        width: 30px;
        object-fit: cover;
        transition: transform 125ms ease-in-out;

        &:hover {
            transform: scale(1.2);
            cursor: pointer;
        }
    }
}

@media (max-width: 790px) {
    .footer-content {
        flex-direction: column;
        gap: 10px;
    }

    .legal-notice-container {
        align-items: center;
    }

    .footer-content {
        padding: 37px 50px; /* Innenabstand für mobile Ansichten */
    }
}

@media (max-width: 470px) {
    .footer-content {
        padding: 37px 20px; /* Innenabstand für mobile Ansichten */
    }
}

