<section class="background-color">
  <div class="header-container">
    <div class="i-am-container">
        I am
    </div>
    <div class="headline">
        <h1>Florian Eusterholz</h1>
        <h2>FRONTEND DEVELOPER</h2>
    </div>
  </div>
  <div class="contact-btn-container">
    <a class="contact-btn" href="#contact">Let’s talk!</a>
  </div>
  <div class="reference-container">
    <div class="al-c">
        <hr class="custom-line">
        <div class="reference-btn-container">
            <a class="github-btn" href="https://github.com/Eusti420"></a>
            <a class="mail-btn" href="#contact"></a>
            <a class="linkedIn-btn" href="https://www.linkedin.com/in/florian-eusterholz-0a880b153/"></a>
        </div>
    </div>
    <div class="scroll-down-container">
        <p>Scroll down</p>
        <img src="assets/icons/Vector.png" alt="">
    </div>
  </div>
</section>