section {
    position: relative; // Container für die absolute Positionierung
    color: #FFFFFF;
    overflow: hidden;
  }
  
 
  
  h1 {
    font-size: 84px;
    font-weight: 700;
  }
  
  .content-container {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    position: relative; // Damit die Kinder absolut positioniert werden können
  }
  
  .img-container {
   
    position: relative; // Dies ist wichtig, um das Bild der übergeordneten Ebene anzupassen
    z-index: 2; // Damit das Bild im Vordergrund bleibt
  }
  
  .description-container {
    display: flex;
    align-items: flex-start;
    padding-top: 24px;
    > p {
      font-size: 16px;
      font-weight: 400;
    }
  }
  
  .background-img {
    top: 500px;
    left: 0;
    width: 100%; 
    object-fit: cover;
    z-index: 1; 
    height: 200px;
  }

  .loaction-img, .idea-img, .puzzle-img {
    cursor: pointer;
    transition: all 125ms ease-in;
  }
  
  .loaction-img {
    background-image: url('../../../assets/icons/loaction.png');
    background-repeat: no-repeat;
    background-position: top;
    width: 84px;
    height: 84px;
    padding-right: 32px;
  
  }
  
  .loaction-img:hover {
    background-image: url('../../../assets/icons/location-hover.png');
    cursor: pointer;
  }
  
  .idea-img {
    background-image: url('../../../assets/icons/idea.png');
    background-repeat: no-repeat;
    background-position: top;
    width: 84px;
    height: 84px;
    padding-right: 32px
  }
  
  .idea-img:hover {
    background-image: url('../../../assets/icons/idea-hover.png');
    cursor: pointer;
  }
  
  .puzzle-img {
    background-image: url('../../../assets/icons/puzzle.png');
    background-repeat: no-repeat;
    background-position: top;
    width: 84px;
    height: 84px;
    padding-right: 32px
  }
  
  .puzzle-img:hover {
    background-image: url('../../../assets/icons/puzzle-hover.png');
    cursor: pointer;
  }
  
  

