section {
  position: relative;
  color: #ffffff;
  overflow: hidden;
  width: 100%;
  max-width: 1920px;
  padding-top: 110px;
  padding-bottom: 300px;
}

.bow-hero {
  position: absolute;
  width: 120%;
  top: 47%;
  z-index: -1;
}

h1 {
  font-size: 84px;
  font-weight: 700;
}

.content-container {
  display: flex;
  position: relative;
  height: 800px;
}

.about-me-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 50px;
  height: 800px;
}

.img-container {
  position: relative;
  padding-right: 50px;
  width: 50%;
  z-index: -2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../../../assets/img/hero-profil-background-shadows.png");

  > img {
    max-height: 800px;
    max-width: 100%;
    height: auto;
    width: auto;
    position: relative;
    left: 6%;
    bottom: 10%;
  }
}

.description-container {
  display: flex;
  align-items: flex-start;
  padding-top: 24px;
  gap: 12px;
  > p {
    font-weight: 400;
  }
}

.background-img {
  top: 85%;
  left: 0;
  width: 100%;
  object-fit: cover;
  z-index: 1;
  position: absolute;
  padding-bottom: 200px;
}

.loaction-img,
.idea-img,
.puzzle-img {
  cursor: pointer;
  transition: all 125ms ease-in;
}

.loaction-img {
  background-image: url("../../../assets/icons/loaction.png");
  background-repeat: no-repeat;
  background-position: top;
  width: 84px;
  height: 84px;
  padding-right: 32px;
  transition: transform 125ms ease-in-out;
  transform-origin: top;
}

.loaction-img:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.idea-img {
  background-image: url("../../../assets/icons/idea.png");
  background-repeat: no-repeat;
  background-position: top;
  width: 84px;
  height: 84px;
  padding-right: 32px;
  transition: transform 125ms ease-in-out;
  transform-origin: top;
}

.idea-img:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.puzzle-img {
  background-image: url("../../../assets/icons/puzzle.png");
  background-repeat: no-repeat;
  background-position: top;
  width: 84px;
  height: 84px;
  padding-right: 32px;
  transition: transform 125ms ease-in-out;
  transform-origin: top;
}

.puzzle-img:hover {
  transform: scale(1.5);
  cursor: pointer;
}

// Media // 

@media (max-width: 1900px) {
  .bow-hero {
    top: 48%;
  }
}

@media (max-width: 1700px) {
  .bow-hero {
    top: 49%;
  }
}

@media (max-width: 1600px) {
  .bow-hero {
    top: 50%;
  }
}

@media (max-width: 1500px) {
  .bow-hero {
    top: 51%;
  }
}

@media (max-width: 1400px) {
  .bow-hero {
    top: 52%;
  }
}

@media (max-width: 1300px) {
  .bow-hero {
    top: 53%;
  }
}

@media (max-width: 1200px) {
  .bow-hero {
    top: 56%;
  }
} 

@media (max-width: 1160px) {
  .bow-hero {
    top: 60%;
  }

  .img-container {
    img {
      bottom: 4%;
    }
  }
} 

@media (max-width: 1100px) {
  .bow-hero {
    top: 36%;
    width: 140%;
  }

  .content-container {
    flex-direction: column-reverse;
    justify-content: center;
    height: auto;

    .about-me-container {
      width: auto;
      text-align: center;
      padding-top: 100px;
      padding-right: 50px;
      padding-left: 50px;
    }

    .description-container {
      text-align: center;
    }

    .img-container {
      width: 100%;
    }
  }

  h1 {
    font-size: 70px;
    text-align: center;
  }
}

@media (max-width: 950px) {
  .bow-hero {
    top: 37%;
  }
} 

@media (max-width: 790px) {

  .bow-hero {
    top: 38%;
  }

  h1 {
    font-size: 50px;
  }
}

@media (max-width: 750px) {
  .bow-hero {
    top: 39%;
  }
}

@media (max-width: 700px) {
  .bow-hero {
    top: 38%;
  }
}

@media (max-width: 660px) {
  .bow-hero {
    top: 37%;
  }

  .img-container {
    padding: 0;
  }
}

@media (max-width: 570px) {
  .bow-hero {
    top: 36%;
  }
}

@media (max-width: 500px) {
  .bow-hero {
    top: 35%;
  }
}

@media (max-width: 470px) {
  .description-container {
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 32px;
  }

  .bow-hero {
    top: 34%;

  }
}

@media (max-width: 440px) {
  .bow-hero {
    top: 33%;
    
  }
}

@media (max-width: 420px) {
  .bow-hero {
    top: 32%;
 
  }
}

/* @media (max-width: 410px) {
  .bow-hero {
    top: 31%;
  
  }
} */
/* 
@media (max-width: 400px) {
  .bow-hero {
    top: 30%;
 
  }
} */

/* @media (max-width: 370px) {
  .bow-hero {
    top: 29%;
    
  }
}

@media (max-width: 350px) {
  .bow-hero {
    top: 28%;
  
  }
}

@media (max-width: 330px) {
  .bow-hero {
    top: 27%;
   
  }
} */
