<section id="aboutMe" class="background-color">

    <img src="assets/img/hero-background-new.png" class="bow-hero">

    <div class="content-container">
        <div class="about-me-container">
            <h1>{{ 'ABOUT_ME.TITLE' | translate }}</h1>
            <p>{{ 'ABOUT_ME.INTRO' | translate }}</p>
            <div class="description-container">
                <div class="loaction-img"></div>
                <p>{{ 'ABOUT_ME.LOCATION.TEXT' | translate }}</p>
            </div>
            <div class="description-container">
                <div class="idea-img"></div>
                <p>{{ 'ABOUT_ME.DEVELOPMENT.TEXT' | translate }}</p>
            </div>
            <div class="description-container">
                <div class="puzzle-img"></div>
                <p>{{ 'ABOUT_ME.PROGRAMMING.TEXT' | translate }}</p>
            </div> 
        </div>
        <div class="img-container">
            <img src="assets/img/portfolio-profil-img (1).png" alt="profile picture">
        </div>
    </div>
</section>