section {
  position: relative;
  color: #ffffff;
  overflow: hidden;
  width: 100%;
  max-width: 1920px;
  padding-bottom: 300px;
}

.bow-hero {
  position: absolute;
  width: 120%;
  height: 80%;
  top: 52%;
  z-index: -1;
}

h1 {
  font-size: 84px;
  font-weight: 700;
}

.content-container {
  display: flex;
  position: relative;
  height: 800px;
}

.about-me-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 50px;
  height: 800px;
}

.img-container {
  position: relative;
  width: 50%;
  z-index: -2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../../../assets/img/hero-profil-background-shadows.png");

  > img {
    max-height: 800px;
    max-width: 100%;
    height: auto;
    width: auto;
    position: relative;
    bottom: 8%;
  }
}

.description-container {
  display: flex;
  align-items: flex-start;
  padding-top: 24px;
  gap: 12px;
  > p {
    font-weight: 400;
  }
}

.background-img {
  top: 85%;
  left: 0;
  width: 100%;
  object-fit: cover;
  z-index: 1;
  position: absolute;
  padding-bottom: 200px;
}

.loaction-img,
.idea-img,
.puzzle-img {
  cursor: pointer;
  transition: all 125ms ease-in;
}

.loaction-img {
  background-image: url("../../../assets/icons/loaction.png");
  background-repeat: no-repeat;
  background-position: top;
  width: 84px;
  height: 84px;
  padding-right: 32px;
  transition: transform 125ms ease-in-out;
  transform-origin: top;
}

.loaction-img:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.idea-img {
  background-image: url("../../../assets/icons/idea.png");
  background-repeat: no-repeat;
  background-position: top;
  width: 84px;
  height: 84px;
  padding-right: 32px;
  transition: transform 125ms ease-in-out;
  transform-origin: top;
}

.idea-img:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.puzzle-img {
  background-image: url("../../../assets/icons/puzzle.png");
  background-repeat: no-repeat;
  background-position: top;
  width: 84px;
  height: 84px;
  padding-right: 32px;
  transition: transform 125ms ease-in-out;
  transform-origin: top;
}

.puzzle-img:hover {
  transform: scale(1.5);
  cursor: pointer;
}

// Media //

@media (max-width: 1900px) {
  .bow-hero {
    top: 52%;
  }
}

@media (max-width: 1800px) {
  .bow-hero {
    top: 52%;
  }
}

@media (max-width: 1200px) {
  .bow-hero {
    top: 57%;
  }

  .img-container {
    img {
      bottom: 0%;
    }
  }
}

@media (max-width: 1160px) {
  .bow-hero {
    top: 58%;
  }

 
}

@media (max-width: 1100px) {
  section {
    padding-bottom: 0px;
  }

  .img-container {
    img {
     left: 3%;
    }
  }

  .bow-hero {
    top: 42%;
    width: 140%;
  }

  .content-container {
    flex-direction: column-reverse;
    justify-content: center;
    height: auto;

    .about-me-container {
      width: auto;
      height: auto;
      text-align: center;
      padding-right: 50px;
      padding-left: 50px;
    }

    .description-container {
      text-align: center;
    }

    .img-container {
      width: 100%;
    }
  }

  h1 {
    font-size: 70px;
    text-align: center;
    padding: 24px;
  }
}

@media (max-width: 1000px) {
  .bow-hero {
    top: 41%;
  }
}

@media (max-width: 900px) {
  .bow-hero {
    top: 40%;
  }
}

@media (max-width: 820px) {
  .bow-hero {
    top: 39%;
  }
}

@media (max-width: 790px) {
  .description-container {
    flex-direction: column;
    align-items: center;
    padding-top: 12px;
    .loaction-img,
    .puzzle-img,
    .idea-img {
      height: 48px;
    }
    p {
      font-size: 14px;
    }
  }

  .bow-hero {
    top: 37%;
  }

  h1 {
    font-size: 50px;
  }
}

@media (max-width: 750px) {
  .bow-hero {
    top: 36%;
  }
}

@media (max-width: 700px) {
  .bow-hero {
    top: 35%;
  }
}

@media (max-width: 660px) {
  .bow-hero {
    top: 33%;
  }

  .img-container {
    padding: 0;
  }
}

@media (max-width: 600px) {
  .bow-hero {
    top: 31%;
  }
}


@media (max-width: 570px) {
  .bow-hero {
    top: 28%;
  }
}

@media (max-width: 550px) {
  .bow-hero {
    top: 26%;
  }
}

@media (max-width: 520px) {
  .bow-hero {
    top: 24%;
  }
}

@media (max-width: 500px) {
  .bow-hero {
    top: 22%;
  }
}

@media (max-width: 470px) {
  .content-container {
    .about-me-container {
      padding-top: 12px;
      padding-left: 4px;
      padding-right: 4px;
      font-size: 14px;
    }
  }


  h1 {
    font-size: 32px;
  }

  .bow-hero {
    top: 25%;
  }
}

@media (max-width: 440px) {
  .bow-hero {
    top: 23%;
  }
}

@media (max-width: 420px) {
  .bow-hero {
    top: 21%;
  }
}

@media (max-width: 400px) {
  .bow-hero {
    top: 19%;
  }
}

@media (max-width: 370px) {
  .bow-hero {
    top: 17%;
  }
}

@media (max-width: 350px) {
  .bow-hero {
    top: 13%;
  }
}

@media (max-width: 330px) {
  .bow-hero {
    top: 11%;
  }
}

