<section class="background-color">
    <div class="skills-container">
        <div class="existing-skills">
            <div class="skill-layout"><img src="assets/icons/html.png" alt="HTML">HTML</div>
            <div class="skill-layout"><img src="assets/icons/css.png" alt="CSS">CSS</div>
            <div class="skill-layout"><img src="assets/icons/JavScript.png" alt="JavaScript">JavaScript</div>
            <div class="skill-layout"><img src="assets/icons/Typescript.png" alt="TypeScript">TypeScript</div>
            <div class="skill-layout"><img src="assets/icons/Angular.png" alt="Angluar">Angluar</div>
            <div class="skill-layout"><img src="assets/icons/Firebase.png" alt="Firebase">Firebase</div>
            <div class="skill-layout"><img src="assets/icons/Git.png" alt="GIT">GIT</div>
            <div class="skill-layout"><img src="assets/icons/Api.png" alt="Rest-Api">Rest-Api</div>
            <div class="skill-layout"><img src="assets/icons/Scrum.png" alt="Scrum">Scrum</div>
            <div class="skill-layout"><img src="assets/icons/Material Design.png" alt="Material design">Material design</div>

            <div class="continually-learning-layout">
                <img class="learning-image" src="assets/icons/Continually learning.png" alt="continually-learning">
                {{ 'SKILLS.LEARNING.TITLE' | translate }}<br>{{ 'SKILLS.LEARNING.SUBTITLE' | translate }}
                <div class="speech-bubble">
                    <p>{{ 'SKILLS.LEARNING.INTEREST' | translate }}</p>
                    <img src="../../../assets/icons/pyhton.png" alt="python image">{{ 'SKILLS.LEARNING.PYTHON' | translate }}
                </div>
            </div>
        </div> 
    </div>

    <div class="skills-description-container">
        <div class="headline">
            <div class="custom-line-hidden"></div> 
            <h1>{{ 'SKILLS.TITLE' | translate }}</h1>
            <hr class="custom-line">
        </div>
        <div class="description-content">
            <p>{{ 'SKILLS.DESCRIPTION' | translate }}</p>
            <p class="p-header">{{ 'SKILLS.LOOKING_FOR' | translate }} <span class="highlight-skill">{{ 'SKILLS.ANOTHER_SKILL' | translate }}</span>?</p>
            <p>{{ 'SKILLS.CONTACT_TEXT' | translate }}</p>
            <div class="contact-btn-container">
                <a class="contact-btn" href="#contact">{{ 'SKILLS.GET_IN_TOUCH' | translate }}</a>
            </div>
        </div>
    </div>

</section>