<div class="main-wrapper">
    
  <div class="shadow-container-hero">
    <div class="hero-container">
      <app-hero></app-hero>
    </div>
  </div>

    <div class="about-container">
      <app-about-me></app-about-me>
  </div>

      <div class="skills-container">
        <app-skills></app-skills>
    
    
  </div>

    <div class="shadow-container-portfolio">
      <div class="portfolio-container">
        <app-portfolio></app-portfolio>
      </div>
    
  </div>

    <div class="shadow-container">
      <div class="contact-container">
        <app-contact></app-contact>
      </div>
 
  </div>
</div>
