<section id="portfolio" class="background">
    <div class="headline">
        <hr class="custom-line">
        <h1>Portfolio</h1>
        <div class="custom-line-hidden"></div> 
    </div>
    <div class="project-intro-container">
        <p>{{ 'PORTFOLIO.INTRO' | translate }}</p>
    </div>

    <div class="portfolio-content-container">
        <div class="project-container">
            <img src="assets/img/join_photo.png" alt="join project">
            <div class="overlay">
                <div class="overlay-content">
                    <div class="buttons">
                        <a href="https://github.com/Eusti420/join" class="button-git">GitHub</a>
                        <a href="https://join.feusterholz.de/log-in.html" class="button-test">Live Test</a>
                    </div>
                    <div class="description">
                        <h3>Join Project</h3>
                        <p>{{ 'PORTFOLIO.PROJECTS.JOIN.DESCRIPTION' | translate }}</p>
                        <div>HTML | CSS | JavaScript | Firebase</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="project-container">
            <img src="assets/img/elpolloloco_photo.png" alt="el polo loco project">
            <div class="overlay">
                <div class="overlay-content">
                    <div class="buttons">
                        <a href="https://github.com/Eusti420/elpolloloco" class="button-git">GitHub</a>
                        <a href="https://elpolloloco.feusterholz.de" class="button-test">Live Test</a>
                    </div>
                    <div class="description">
                        <h3>El Pollo Loco</h3>
                        <p>{{ 'PORTFOLIO.PROJECTS.EL_POLLO_LOCO.DESCRIPTION' | translate }}</p>
                        <div>HTML | CSS | JavaScript</div>
                    </div>
                </div>
            </div>
        </div>
    </div>   

    <!-- <div class="testimonials-container">
        <div class="testimonials-layout">
            Florian really kept the team together with his great organization and clear communication. We would not habe got this far without his commitment.
            <div class="testimonials-comment">
                <hr class="custom-line-testimonial">B.Wenderoeth - Team Partner
            </div>
        </div>
        <div class="testimonials-img-container">
            <img class="testimonials-img" src="assets/img/Frame 280.png" alt="">
        </div>
            <hr class="custom-line-testimonial-img">
        <div></div>
    </div> -->
    
</section>
