<section class="background">
    <div class="headline" data-aos="fade-right">
        <hr class="custom-line">
        <h1>Portfolio</h1>
        <div class="custom-line-hidden"></div> 
    </div>
    <div class="project-intro-container" data-aos="fade-left">
        <p>{{ 'PORTFOLIO.INTRO' | translate }}</p>
    </div>

    <div class="portfolio-content-container"  data-aos="flip-up">
        <div class="project-container">
            <img src="assets/img/join_photo.png" alt="join project">
            <div class="overlay">
                <div class="overlay-content">
                    <div class="buttons">
                        <a href="https://github.com/Eusti420/join" class="button-git">GitHub</a>
                        <a href="https://join.feusterholz.de/log-in.html" class="button-test">Live Test</a>
                    </div>
                    <div class="description">
                        <h3>Join Project</h3>
                        <p>{{ 'PORTFOLIO.PROJECTS.JOIN.DESCRIPTION' | translate }}</p>
                        <div>HTML | CSS | JavaScript | Firebase</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="project-container">
            <img src="assets/img/elpolloloco_photo.png" alt="el polo loco project">
            <div class="overlay">
                <div class="overlay-content">
                    <div class="buttons">
                        <a href="https://github.com/Eusti420/elpolloloco" class="button-git">GitHub</a>
                        <a href="https://elpolloloco.feusterholz.de" class="button-test">Live Test</a>
                    </div>
                    <div class="description">
                        <h3>El Pollo Loco</h3>
                        <p>{{ 'PORTFOLIO.PROJECTS.EL_POLLO_LOCO.DESCRIPTION' | translate }}</p>
                        <div>HTML | CSS | JavaScript</div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
    
</section>
