<section class="background">
    <div class="headline">
        <hr class="custom-line">
        <h1>Portfolio</h1>
    </div>
    <p>Explore a selection of my work here - Interact with projects <br></p>
    <p>to see my skills in action.</p>
    <div class="portfolio-content-container">
        <div class="project-container">
            <img src="../../../assets/img/join_photo.png" alt="join project">
        </div>
        <div class="project-container">
            <img src="../../../assets/img/elpolloloco_photo.png" alt="el polo loco project">
        </div>
    </div>
</section>
