section {
  position: relative;
  width: 100%;
  z-index: 1;
  max-width: 1920px;
  padding-top: 120px;
}

.project-intro-container {
  padding-left: 100px;
}

.background {
  background-color: #141d2f;
  backdrop-filter: blur(65px);
  position: relative; 

  &::before {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: calc(100% + 250px);
    background-image: url(../../../assets/img/blue-shadow1.png);
    background-position: calc(100% + 40px) top;
    background-repeat: no-repeat;
    z-index: -1;
  }

  @media (min-width: 1921px) {
    background-image: none; 
    &::before {
      display: none; 
    }
  }
}



.headline {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-bottom: 24px;

  h1 {
    color: #ffffff;
    font-size: 90px;
    font-weight: 700;
  }

  .custom-line {
    display: flex;
    width: 76px;
    height: 4px;
    background-color: #9747ff;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .custom-line-hidden {
    flex: 1;
    visibility: hidden;
  }
}

.portfolio-content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 24px;
  background-image: url("../../../assets/img/green-shadow2.png");
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: contain;

  
  @media (min-width: 1921px) {
    background-image: none;
}
}

.project-container {
  position: relative;
  border: 2px solid #70e61c;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.125s ease-in-out;
  background-color: #141d2f;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.125s ease-in-out, opacity 0.125s ease-in-out;
    transform: scale(1);
    transform-origin: center;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    z-index: 1;
    transition: opacity 0.125s ease-in-out;

    .overlay-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }

    .buttons {
      display: flex;
      justify-content: center;
      gap: 48px;
      padding-top: 64px;
    }

    .button-git {
      background-color: transparent;
      padding: 15px 30px;
      border-radius: 10px;
      border: 1px solid #1cdae6;
      font-weight: 400;
      font-size: 23px;
      color: white;
      text-decoration: none;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: #1cdae6;
      }
    }

    .button-test {
      background-color: #9747ff;
      padding: 15px 30px;
      border-radius: 10px;
      font-weight: 400;
      font-size: 23px;
      color: white;
      text-decoration: none;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: #56b719;
      }
    }

    .description {
      text-align: center;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      background-color: white;
      width: 100%;
      height: 350px;
      border-radius: 30px 30px 0px 0px;

      h3 {
        margin: 0;
        font-weight: 700;
        font-size: 32px;
        color: #9747ff;
      }

      p {
        margin: 0;
        color: black;
        text-align: center;
        text-wrap: wrap;
        font-size: 20px;
        font-weight: 400;
        padding: 24px 48px 24px 48px;
      }

      div {
        color: #70e61c;
        font-size: 20px;
        font-weight: 400;
      }
    }
  }

  &:hover {
    img {
      transform: scale(1.8);
      opacity: 0.8;
    }

    .overlay {
      opacity: 1;
    }
  }
}

p {
  color: #ffffff;
}

.testimonials-container {
  display: flex;
  align-items: center;
  padding-left: 100px;
  padding-top: 64px;
  width: 100%;
  position: relative;
  z-index: 3;

}

// media //

@media (max-width: 1100px) {
  .portfolio-content-container {
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
  }

  .project-intro-container {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
  }

  .headline {
    .custom-line {
      flex: 1;
    }
  }

  .project-container {
    .overlay {
      .description {
        h3 {
          font-size: 24px;
        }

        p {
          font-size: 20px;
          padding: 12px 24px 12px 24px;
        }

        div {
          font-size: 20px;
        }
      }
    }
  }
}

@media (max-width: 790px) {
  .headline {
    h1 {
      font-size: 50px;
    }
  }

  .project-intro-container {
    font-size: 16px;
  }
  .project-container {
    .overlay {
      .description {
        height: 200px;
        h3 {
          font-size: 20px;
        }

        p {
          font-size: 14px;
          padding: 4px 8px 4px 8px;

        }

        div {
          font-size: 16px;
        }
      }
    }

    .button-git {
      padding: 12px 24px;
      font-size: 20px;
    }

    .button-test {
      font-size: 20px;
      padding: 12px 24px;
    }
  }
}

@media (max-width: 470px) {
  .headline {
    h1 {
      font-size: 32px;
    }
  }

  .project-intro-container {
    padding-left: 4px;
    padding-right: 4px;
    font-size: 14px;
  }

  .project-container {
    .overlay {
      .buttons {
        gap: 12px;
        padding-top: 12px;
      }

      .button-git {
        padding: 6px 12px;
        font-size: 14px;
      }

      .button-test {
        font-size: 14px;
        padding: 6px 12px;
      }
    }
  }
}

@media (max-width: 420px) {
  .project-container {
    .overlay {
      .description {
        height: 160px;
        h3 {
          font-size: 18px;
        }

        p {
          font-size: 12px;
          padding: 4px 8px 4px 8px;

        }

        div {
          font-size: 12px;
        }
      }
    }

    .button-git {
      padding: 2px 4px;
      font-size: 14px;
    }

    .button-test {
      font-size: 14px;
      padding: 2px 4px;
    }
  }
}
